
:root {
    --padding-top:4rem;
    --image-count:3;
    scroll-padding-top: var(--padding-top);
    --light:hsl(266, 30%, 74%);
    --dark:hsl(280, 97%, 51%);
    --line:hsl(260, 75%, 6%);
    --darker-line:hsl(236, 73%, 19%);
    --brown:hsl(225, 34%, 51%);
    --text :hsl(242, 78%, 78%);
    --slider-width : calc(50vw + 20rem);
}

.skip-main {
    position: absolute;
    transform: translateY(-350%);
    transition: 338ms ease-in-out;
}
.skip-main:focus {
    transform: translateY(300%);
}

.header__nav {
    display: grid;
    background-color: var(--light);
    height: 3rem;
    justify-items: center;
}

.menu {
    list-style: none;
}

.nav__menu {
    display: flex;
    gap: 2rem;
}

.nav__menu a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark);
}

.nav__menu a:hover {
    color: var(--darker-line);
    text-decoration: none;
}

.comp-slider {
    position: relative;
    width: var(--slider-width);
    height: min(80svh,var(--slider-width)/1.5);
    margin: 1rem auto;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.comp-slider__menu {
    position: relative;
    height: 100%;
    width: calc(var(--slider-width)*3.1);
    padding: 0;
    margin: 0;
    transition: left 750ms ease;
    left: 0;
}
.comp-slider__menu__item {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: var(--slider-width);
    float: left;
}
.comp-slider__menu__item img {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
