
:root {
    --padding-top:60px;
    --image-count:3;
    scroll-padding-top: var(--padding-top);
    --light:hsl(266, 30%, 74%);
    --dark:hsl(280, 97%, 51%);
    --line:hsl(260, 75%, 6%);
    --darker-line:hsl(236, 73%, 19%);
    --brown:hsl(225, 34%, 51%);
    --text :hsl(242, 78%, 78%);
}
body {
    height: 5000px;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    
    font: 300 1em "Roboto";
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
.alert {
    background-color: #4facd1;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
    justify-content: center;
    font-family:arial;
    font-size: 20px;
    height: 50px;
    color:white;
}
.link-info{
    color:white;
    font-family: arial;
    font-weight: bold;
}


div[role="alert"] {
    text-transform: capitalize;
}
.btn-close {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border: #0c041c solid;
}
.navbar {
    display: flex;
    width: 100vw;
    height: max(4rem,min(5vh,6rem));
    align-items: center;
    position: sticky;
    top:0;
    backdrop-filter: blur(100px);
    background-color: var(--light);
    mix-blend-mode: hard-light;
    z-index: 4;
}
.commercial a{
    text-decoration: none;
    padding:10px;
    background-color:#ff7a1a;
    border-radius: 80px;
    color:white;
}
.commercial a:hover{
    border-color:#ff7a1a;
    border-style:solid ;
    background-color:white;
    color:#ff7a1a;
    transition-duration:0.2s;
}

.brand-icon{
    text-decoration: none;
    padding: 4px;
    font: 400 1em 'Open Sans';
    color: #0d1252;
    margin: 0 max(2%,10px) 0 1%;
}

.important::after {
    display: block;
    content: "";
    position: relative;
    /*bottom: -1vh;*/
    left: 0;
    width: 100%;
    height: 4px;
    transform: scaleX(0);
    transition: transform .3s ease-out;
    transform-origin: 0%;
    background-color: var(--line);
}

.important:hover::after,
.important:focus-within::after {
    transform: scaleX(100%);
}

/*.navbar .navbar-nav {
    margin-left: 30px;
    flex-grow: 2;
}*/
.search-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: min(80%,40px);

 }
 .input-bar {
    height: 100%;
    border: 0;
    outline: 0;
 }

.input-bar:focus + .input-label::after {
    display: block;
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 2px;
    background-color: #0c041c;
    border-bottom: 2px solid var(--line);
}
.navbar-nav {
    display: flex;
    gap: 10px;
    
    margin:0 3%;
    padding: 0;
    text-indent: 0;
    list-style: none;
}
.navbar-nav .nav-item {
    padding: .2rem .3rem;
    border-radius: .25rem;
    transition: transform .2s ease-in-out;
}
.navbar-nav .nav-item a{
    text-decoration: none;
    color: var(--dark);
}
.navbar-nav .nav-item a:focus{
    color: var(--brown);
}
.navbar .navbar-nav .nav-item:hover {
    background-color: var(--light);
    transform: scale(1.1);
}

#dark-switcher {
    margin-left: auto;
    align-self: center;
    cursor: pointer;
}

/*#links li {
    border: solid #343342 2px;
    border-radius: 4px;
}*/

.slider {
    position: relative;
    padding-top: var(--padding-top);
    margin: auto 3%;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    
    
}
.slider::-webkit-scrollbar {
    display: none;
  }
.slider-controller {
    position: absolute;
    float: right;
    bottom: max(10px,1vh);
    left: 50%;
}
.wrapper {
    width: calc(100% * var(--image-count));
    display: grid;
    grid-template-columns: repeat(var(--image-count),1fr);

}

.wrapper .slide-container {
    scroll-margin: 0px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slide-container img {
    object-fit: contain;
    height: min(100vh - var(--padding-top),1000px);
    width: calc(100vw - 20px);
    
}
