body {
	display: flex;
	justify-content: center;
	background-color: #867070;
}

body .orga1 {
	font-size: 20px;
	width: fit-content;
	/*margin-left:235px;
margin-top:100px;*/
	border-radius: 10px;
	border-color: #c7cf00;
	border-style: solid;
	border-width: thin;
	background-color: #FFF;
}

#pic {
	width: 400px;
}

.p1 {
	font-size: 2rem;
	font-family: arial;
	text-align: left;
	max-width: 16ch;
	vertical-align: top;
}

#title {
	display: flex;
	justify-content: space-between;
	width: 800px;
}

/*#title * {
	display: inline-block;
}*/

form label {
	display: inline-block;
	width: 150px;
}

input {
	width: auto;
	background-color: #EEE;
	border-radius: 4px;
	border-width: thin;
}

form * {
	margin-bottom: 20px;
	padding: 10px;
}

#name-pre {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.typein {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 0;
	width: fit-content;

}

* {
	box-sizing: border-box;
}

.hamch {
	margin-top: 0;
	color: rgb(2, 12, 9);
	font: lighter 16px Roboto;
}